<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Veera</title>
  <!-- Favicon -->
  <link href="../public/img/brand/favicon.png" rel="icon" type="image/png">
  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
  <!-- Icons -->
  <link href="../public/vendor/nucleo/css/nucleo.css" rel="stylesheet">
  <link href="../public/vendor/@fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet">
  <!-- Argon CSS -->
  <link type="text/css" href="../public/css/argon.css?v=1.0.0" rel="stylesheet">
</head>

<body>
  <!-- Sidenav -->
  <%-// include('./sideNav.ejs') %>
  <%- include('../partials/sidebar.ejs') %>

  <!-- Main content -->
  <div class="main-content">
    <!-- Top navbar -->
    <%-// include('./header.ejs') %> 
    <%- include('../partials/navbar.ejs') %>
    <!-- Header -->
    <%-// include('../partials/header.ejs') %>
    <div class="header bg-gradient-primary pb-8 pt-5 pt-lg-8 d-flex align-items-center">
        <!-- Header container -->
        <div class="container-fluid">
          <div class="row justify-content-center">
            <div class="col-lg-6 col-md-10 text-center">
              <h1 class="display-2 text-white">Category</h1>
              <!-- <p class="text-white mt-0 mb-5">We are constantly doing updates on the product and documentation, so please check the online version.</p> -->
            </div>
          </div>
        </div>
      </div>
    <!-- Page content -->
    <div class="container-fluid mt--7">
        <div class="row mt-3 justify-content-center">
            <div class="col">
                <div class="card bg-default shadow">
                    <% if (data) { %>
                        <form class="navbar-search navbar-search-dark d-flex m-3 row" action="/category/create" method="post">
                            <div class="form-group col-10 col-md-10 col-lg-10 col-sm-10">
                                <div class="input-group input-group-alternative">
                                    <!-- <div class="input-group-prepend">
                                        <span class="input-group-text">Category Name : </span> 
                                    </div> -->
                                    <input class="form-control" placeholder="category Name" name="name" id="name" value="<%=data.name%>" type="text">
                                </div>
                            </div>
                            <!-- <div class="form-group col-5">
                                <div class="input-group input-group-alternative">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"></span>
                                </div>
                                <select class="form-control" pl>
                                    <option value=""></option>
                                    <option value=""></option>
                                    <option value=""></option>
                                </select>
                                </div>
                            </div> -->
                            <div class="form-group col-2 col-md-2 col-lg-2 col-sm-2">
                                <input type="submit" class="btn btn-primary" value="add">
                            </div>
                        </form>
                        <div class="card-header bg-transparent border-0">
                            <h3 class="text-white text-center">Tables</h3>
                        </div>
                        <div class="table-responsive">
                            <table class="table align-items-center table-dark" id="example">
                                <thead class="thead-dark">
                                    <th class="text-center" scope="col">#</th>
                                    <th class="text-center" scope="col">Name</th>
                                    <th class="text-center" scope="col">Status</th>
                                    <th class="text-center" scope="col">Time</th>
                                    <th class="text-center" scope="col">Action</th>
                                </thead>
                                <tbody>
									<% if (data.length > 0) { %>
										<% data.forEach((item,index)=> { %>
										<tr>
											<td class="text-center"><%= ++index %></td>
											<td class="text-center"><%= item.name %></td>
											<td class="text-center"><%= (item.status == true)? "Active" : "Inactive" %></td>
											<td class="text-center"><%= (JSON.stringify(new Date(item.createdAt))).slice(1,11) %></td>
											<td class="text-center">
												<a href="category/<%= item._id%>" class="btn btn-outline-success">Edit</a>
												<form action="category/delete/<%= item._id%>" method="post">
													<button type="submit" onclick="alert(`Are you sure delete the category - <%= item.name %>`)" class="btn btn-outline-danger">Delete</button>
												</form>
											</td>
										</tr>
										<%  }) %>
									<% } else { %>
										<h1>No Category Found!</h1>
									<% } %>
                                </tbody>
                            </table>
                        </div>
                    <% } else { %>
                        <form class="navbar-search navbar-search-dark d-flex m-3 row" action="/category/update/" method="post">
                            <div class="form-group col-11">
                                <div class="input-group input-group-alternative">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Category Name : </span> 
                                    </div>
                                    <input class="form-control" placeholder="category Name" name="name" id="name" value="<%=data.name%>" type="text">
                                </div>
                            </div>
                            <div class="form-group col-1">
                                <input type="submit" class="btn btn-primary" value="add">
                            </div>
                        </form>
                   <% } %>
                </div>
            </div>
        </div>
    <!-- Footer -->
    <%- include('../partials/footer.ejs')%>
    </div>
  </div>
  <!-- Argon Scripts -->
  <!-- Core -->
  <!-- <script src="../public/vendor/jquery/dist/jquery.min.js"></script>
  <script src="../public/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script> -->
  <!-- Argon JS -->
  <!-- <script src="../public/js/argon.js?v=1.0.0"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
  <script src="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.min.css"></script>
  <script>
    $(document).ready(function () {
        $('#example').DataTable();
    });
  </script> -->
    <%- include('../partials/scripts.ejs')%>
</body>
</html>
